name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  linux_tests:
    name: ${{ matrix.linux_distro }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: ./test/shellcheck.sh
      - run: ./test/run_all_scripts.bash "${{ matrix.linux_distro }}" "${{ matrix.disabled_tests }}"
    strategy:
      fail-fast: false
      matrix:
        include:
          - linux_distro: alpine
            disabled_tests: 'flutter'
          - linux_distro: archlinux
            disabled_tests: 'flutter'
          - linux_distro: debian
            disabled_tests: 'flutter'
          - linux_distro: ubuntu
            disabled_tests: 'flutter'
          - linux_distro: homebrew
            disabled_tests: 'flutter'
  macos_tests:
    name: ${{ matrix.macos_version }}
    runs-on: ${{ matrix.macos_version }}
    steps:
      - uses: actions/checkout@v4
      - run: ./test/run_all_scripts.bash 'NATIVE' 'fish_nvm'
    strategy:
      fail-fast: true
      matrix:
        macos_version: [macOS-latest]
